
h1 {
	text-align: center;
	position: relative; 
	left: -10%;
}

h1 img {
	height: 3em;
	width: 3em;
	border-radius: 50%;
	border: 2px solid black;
	vertical-align: middle;
	margin-right: 0.5em;
	box-shadow: 0.2em 0.2em #00000044;
}

#channelVideoList {
	display: flex; 
	flex-wrap: wrap;
}