
h1 {
	text-align: center;
	position: relative; 
	left: -10%;
}

h1 img {
	height: 3em;
	width: 3em;
	border-radius: 50%;
	border: 2px solid black;
	vertical-align: middle;
	margin-right: 0.5em;
	box-shadow: 0.2em 0.2em #00000044;
}

#channelVideoList {
	display: flex; 
	flex-wrap: wrap;
}

#channelButtons {
	display: flex;
	margin-bottom: 1em;
	justify-content: center;
	align-items: center;
}

#markAllButton {
	position: relative;
	border: 1px solid #333;
	border-radius: 1em; 
	background: #ddd;
	padding: 0.5em;
	margin-left: 2em;
	cursor: pointer;
}

#markAllButton:hover {
	background: #aaa;
}