* {
	box-sizing: border-box;
}

html, body {
	padding: 0; 
	margin: 0;
}

#pageBar {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 15em; 
	height: 100vh;
	padding-top: 0.5em;
	border-right: 1px solid #333;
	display: flex; 
	flex-direction: column;
	align-items: center;
	background-color: white;
	z-index: 1;
}

#pageBar img {
	width: 10em;
	margin-bottom: 1em;
}

#pageBar .mainMenuItem {
	color: black;
	font-size: 125%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	border: none; 
	cursor: pointer;
	text-align: center;
	padding: 0.5em;
}

#pageBar .mainMenuItem:hover {
	background-color: #EEE;
}

#pageBar .mainMenuItem:before {
	font-size: 150%;
	font-weight: bold;
	margin-right: 0.25em;
	font-family: mono;
	line-height: 66%;
}

#pageBar #videoPageButton:before {
	content: "⌂";
}

#pageBar #subscriptionPageButton:before {
	content: "⇶";
	font-weight: normal;
}

#pageBar #animesPageButton:before {
	content: "㊠";
	font-size: 100%;
}

#pageBar #channelShortcuts {
	width: 100%; 
	height: 15em;
	padding: 0 1.5em;
	text-align: center;
	overflow-y: scroll;
	scrollbar-color: #555 white;

	/* Trick to display gradients at the top or bottom only when scrolling is available */
	background:
		/* Shadow covers */
		linear-gradient(white 33%, rgba(255, 255, 255, 0)),
		linear-gradient(rgba(255, 255, 255, 0), white 66%) 0 100%,
		/* Shadows */
		linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
		linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2)) 0 100%;

	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 6em, 100% 6em, 100% 2em, 100% 2em;
	background-attachment: local, local, scroll, scroll;
}

#channelShortcuts img {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	margin: 0.5em;
	object-fit: cover;
}

#channelShortcuts img:hover {
	filter: brightness(50%);
}

.page {
	margin-left: 15em;
	padding: 0em 1em;
	font-family: Arial, Helvetica, sans-serif;
}

/* Video style */

.vid {
	position: relative;
	flex-grow: 0; 
	flex-shrink: 0;
	padding: 0em 1em; 
	margin: 0 0.5em;
	width: 12em;
}

.vid.hidden {
	display: none;
}

.vid .vidIcon {
	width: 10em;
	cursor: pointer;
	border-radius: 0.5em;
	border: 1px solid black;
}

.vid.vidSeen h3,
.vid.vidSeen h2
 {
	color: #555;
}

.vid.vidSeen .vidIcon,
.vid.vidSeen h3 img {
	filter: grayscale(70%) contrast(30%) brightness(125%);
	border-color: #555;
}

.vid.vidSeen .timeLabel {
	background-color: #555;
}

.vid .vidIcon:hover {
	filter: brightness(50%);
}

.vid h2 {
	font-size: small;
	font-weight: normal;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	width: 100%;
	margin: 0; 
}

#channelPage .vid h3 {
	/*Don't display the name of the channel on the video card if you are already on the page 
	  of a specific channel*/
	display: none;
}

.vid h3 {
	font-size: smaller;
	margin-bottom: 0;
	position: relative; 
	padding-left: 2em;
	height: 2.5em;
  	line-height: 1.25em;
	display: flex;
  	align-items: center;
}

.vid h3 img {
	float: left;
	margin-right: 0.25em;
	position: absolute;
	top: 0.3em;
	left: -1.3em;
	width: 3em;
	height: 3em;
	object-fit: cover;
	border: 1px solid black;
	border-radius: 50%;
	box-shadow: 0.2em 0.2em #00000077;
	z-index: 2;
}

.timeLabel {
	color: white; 
	font-size: small;
	font-family: monospace;
	background-color: black;
	float: right;
	position: relative; 
	top:-1.9em;
	padding: 0.1em 0.25em;
	margin-bottom: -1.9em;
	border-bottom-right-radius: 0.5em;
}

.buttonsDiv {
	text-align: center;
	height: 2em;
}

.toggleSeen {
	background-image: url(img/notseen.svg);
	font-size: smaller;
	background-color: transparent;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
	height: 2em; 
	width: 2em;
	margin: 0 auto;
}

.vid.vidSeen .toggleSeen,
.toggleSeen:hover {
	background-image: url(img/seen.svg) ;
}