/**
 * This file contains stylesheets for the login and register forms
 */

form {
    margin: 1em auto; 
    max-width: 25em;
    background-color: #e8e8e8;
    border: 1px solid black;
    border-radius: 2em; 
    padding: 1em 2em;
    text-align: center;
    box-shadow: 0.5em 0.5em #00000077;
}

form label {
    display: block;
    margin-top: 1em;
}

form input[type="email"],
form input[type="password"] {
    width: 13em;
    display: block;
    margin: 0 auto; 
}

form input[type="submit"] {
    display: block; 
    margin: 1em auto;
    font-size: 150%; 
    font-weight: bold; 
    background-color: #2bf456;
    border: 1px solid black; 
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}

form input[type="submit"]:hover {
    filter: brightness(80%);
}

